body {
    font-family: Arial, sans-serif;
}

.header {
    background-image: url('../assets/images/Recette03.jpg');
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.search-bar {
    margin-top: 20px;
}

.recipe-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.recipe-card:hover {
    transform: translateY(-10px);
}

.recipe-card img {
    max-height: 200px;
    object-fit: cover;
}
