@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
}


/* Main content with margin around filters and recipes */
.main-content {
    margin: 100px;
}

/* Header section */
.header {
    background-image: url('../assets/images/Recette03.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 0;
    position: relative;
}

.header-height {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    font-size: 44px;
    font-weight: 400;
    color: yellow;
    font-family: 'Anton', sans-serif;
}

.header p {
    font-size: 1.1rem;
    margin-top: 10px;
}

/* Custom Search Bar */
.search-bar {
    border-radius: 50px 0 0 50px; 
    height: 50px; 
    font-size: 1.1rem;
    font-family: 'Manrope', sans-serif;
}

.search-btn {
    border-radius: 0 50px 50px 0; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.input-group .btn-dark {
    height: 50px; /* Set same height for button */
    border-radius: 0 50px 50px 0; /* Rounded right corner */
}

.input-group .form-control {
    border-radius: 50px 0 0 50px;
    height: 50px;
    box-shadow: none;
}

.input-group .btn-dark i {
    font-size: 1.5rem;
}

/* Filter Section */
.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 66px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Responsive behavior */
}

.btn-custome {
    background-color: #ffffff;
    height: 60px;
    width: 180px;
    border-radius: 11px;
    font-family: 'Manrope', sans-serif;
}

.filters .dropdown {
    margin-bottom: 10px; /* To handle responsive spacing */
}

.recipe-count {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    font-family: 'Anton', sans-serif;
}

/* Tag container (for all tags under the filters) */
.tag-container-unified {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Tag styles */
.tag {
    background-color: #FFD15B; /* Yellow background for tags */
    color: black;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.tag span {
    margin-right: 10px;
}

.tag button {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.dropdown-menu li {
    list-style: none;
}

/* Recipe card styles */
.recipes-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.no-results-message {
    text-align: center;
    color: rgb(0, 0, 0); 
    font-size: 1.2rem;
    margin-top: 20px;
}

.recipe-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 21px;
    height: 100%;
    width: 95%;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.card-time {
    position: absolute;
    background-color: #FFD15B;
    display: flex;
    border-radius: 14px;
    width: 65px;
    height: 28px;
    right: 20px;
    top: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
}

.card-title {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;;
}

.card-recipes {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #9b9b9b;
    margin-top: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.card-text {
    font-size: 0.9rem;
    margin-top: 5px;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}

/* Ingredients Section */
.ingredients-section {
    margin-top: 20px;
}

.ingredients-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9b9b9b;
    margin-bottom: 10px;
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.ingredients-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.ingredient-item {
    display: flex;
    flex-direction: column;
}

.ingredient-name {
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.ingredient-quantity {
    color: #9b9b9b;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* Adjust the margin between cards */
@media (min-width: 768px) {
    .recipes-container .col-md-3 {
        max-width: 33.3333%;
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .recipes-container .col-lg-3 {
        max-width: 25%;
        margin-bottom: 15px;
}
}
